/* 
	If you're totally lost with what's going on in this document, check out Adam Kaplan's grid tutorial @ http://www.adamkaplan.me/grid/ 
	Most of what you see here is based on that responsive skeleton.
*/

* {
	margin: 0;
	font-family: "SourceSansPro-Light";
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/*******************\
|	DEFAULT STYLES 	|
\*******************/

h1, h2, h3, .button {
	font-family: "GillSansMTPro-Light" sans-serif;
	font-weight: normal !important; /* overiding semantic's nonsense*/
	text-align: center;
	text-transform: uppercase;
}

h3 { 
	margin : 0 !important;
}

img {
	max-width: 100%;
}

p {
	margin: 0.5rem 0;
}

ul {
	padding: 0;
	list-style-type: none;
}

li {
	padding: 0.2rem 0;
}

/* for the back icon on the profile page */
a > i {
	color: rgba(0, 0, 0, 0.8) !important;
	text-decoration: none !important;
}

input {
	border-radius: 0 !important;
}

input + i {
	border-radius: 0 !important;
}

/*main container that should hold all the elements of the screen on each page*/
.container {
	margin: 0 auto;
	max-width: 48rem;
	width: 100%; /* we're going for a full spread when it downsizes to mobile*/
	position: relative;
}

/*******************\
|	CUSTOM STYLES 	|
\*******************/

/* This is for thoes images on the login page */
.image-caption {
	text-align: center;
	color: #777;
	font-size: 160%;
}

img.promo {
	display: block;
	max-height: 20rem;
	margin: 3rem auto;
}

/* footer row at the bottom of any page */
.footer {
	width: 100%;
	position: absolute;
	background-color: #5C6166;
	color: #fff;
	text-align: center;
}

.button {
	border-radius: 0 !important;
}

/* Edit profile pic */
.ui.fade.reveal.center {
	margin: auto;
	display: block;
	max-width: 250px;
}

span.attribute:after {
	content: ":";
}

span.attribute, .header {
	text-transform: uppercase;
	font-family: "GillSansMTPro-Light" sans-serif;
}

.ui.accordion {
	/* silly semantic ui */
	width: 100% !important;
}

.ui.accordion .plus {
	padding-top: 0.6rem !important;
	width: 100% !important;
}

.ui.label {
	min-height: 1.4rem;
}

.center {
	text-align: center;
}

a > i.close {
	color : inherit !important;
}




/********************\
|    TABLE STYLES    |
\********************/

table {
	border-collapse: collapse;
	width: 95%;
	display: block;
	margin: auto;
	font-size: 0.8em;
}

table.schedule *{
	font-family: 'Verdana', 'Arial' sans-serif;
}

/* Table Header Styles*/
table.schedule thead td {
	text-transform: uppercase;
	font-weight: bold;
	background-color: hsl(214, 31%, 87%);
}

table.schedule td {
	border: 2px solid #888 !important;
}

.row.schedule .icons {
	width: 95%;
	display: block;
	margin-bottom: 0.3rem;
	position: relative;
}

.row.schedule .icons h3 {
	position: absolute;
	top : 0.3rem;
	padding-left: 10rem;
}

.row.schedule .save.icon:hover {
	background-color: #C3FFD2;
}

.row.schedule .close.icon:hover {
	background-color: #F28A8A	;
}

.row.schedule .print.icon:hover {
	background-color: #EDE0BB;
}

.row.schedule .download.icon:hover {
	background-color: #ACD7FA;
}

.row.schedule .icons h3.semester {
	position: absolute;
	right: 0;
	top: 0.3rem;
}

table.schedule .day:nth-child(1):before {
	content: "time";
}
table.schedule .day:nth-child(2):before {
	content: "mon";
}
table.schedule .day:nth-child(3):before {
	content: "tue";
}
table.schedule .day:nth-child(4):before {
	content: "wed";
}
table.schedule .day:nth-child(5):before {
	content: "thur";
}
table.schedule .day:nth-child(6):before {
	content: "fri";
}

/* At medium screens, longer text */
@media (min-width: 40rem) { 

	table.schedule .day:nth-child(1):before {
		content: "time";
	}
	table.schedule .day:nth-child(2):before {
		content: "monday";
	}
	table.schedule .day:nth-child(3):before {
		content: "tuesday";
	}
	table.schedule .day:nth-child(4):before {
		content: "wednesday";
	}
	table.schedule .day:nth-child(5):before {
		content: "thursday";
	}
	table.schedule .day:nth-child(6):before {
		content: "friday";
	}

}

/*************************\
|    PC Sidebar Styles    | Cause semantic doesnt have inverted versions of some things
\*************************/

.pc.sidebar .button {
	display: block !important;
}

.pc.sidebar .accordion {
	background-color: inherit;
}

.pc.sidebar .title {
	color: #fff !important;
}

.pc.sidebar .dropdown .item,  .pc.sidebar .inline.dropdown .active.item{
	color: #000 !important;
}


/*******************************************************************************************\
|										SMALL SCREEN STYLES 						 	 	|
|	Note: These need to be overidden in largen screen sizes otherwise they will persist		|
\*******************************************************************************************/

p {
	font-size: 130%;
	padding: 0 1rem;
}

.button {
	width: 66%;
	/* Overriding semantic stuff */
	display: block !important;
	margin: 0.1rem auto !important;
}

div.attribute {
	text-align: center;
}

.attribute .ui.input {
	width: 66%;
}

.ui.action.input input {
	width: 100%;
}

.ui.action.input {
	margin: 0.5rem auto;
	width: 100%;
}

/* Phone menu styles */

.white.action.phone.divider .icon{
	background-color: #fff;
	opacity: 1;
}

.ui.inverted.action.divider {

}

/* I would rather not have to use this */
.ui.dimmer.page.visible.active {
	/*overflow: scroll;*/
}

/* Because divider is fixed, need some spacing */
.row.phone.menu.buffer {

}

.row.phone.containing.menu {
	max-height: 80%;
	overflow-y: scroll;
}

.ui.basic.modal {
	height: 100%;
}

.prompt .column{
	text-align: center;
	background-color: #eee;
	padding: 1rem 0;
}

.accordion {
	padding: 0 !important;
	border-radius: 0 !important;
}

.prompt p:before {
	content: "Tap ";
}

.pc {
	visibility: hidden;
}

.topNav {
	position: absolute;
	text-decoration: none;
	top: 0.65rem;
	right: 0.25rem;
}

.topNav span {
	display: none;
}

.completed.accordion .item .close.icon {
	float: left;
	color: red;
	margin-right: 0px;
}

.completed.accordion .description{
	text-indent: 1.2rem;
}

.icon.hidden { 
	visibility: hidden;
}

.saved div.content {
	padding: 0 !important;
}


body {
	height: 200%;
}

.dummy {
	height: 0;
	width: 0;
	padding: 0;
	margin: 0;
}

/***************************\
|	MEDIUM SCREEN STYLES 	|
\***************************/
/* Make this smaller once you're done debugging ok? ok great thanks.*/

@media (min-width: 40rem) { 
	.column {
		float: left;
		padding: 0rem 1rem;
	}

	.column.full { width: 100%; }
    .column.two-thirds { width: 66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 24.95%; padding: 0;}
    .column.flow-opposite { float: right; }
    .column.center { 
    	margin: auto;
    	float: none;
    }

    p {
    	font-size: 100%;
    	padding: 0;
    }

    img.promo {
    	width: 66%;
    }

    .footer {
    	position: fixed;
		bottom: 0;
		left: 0;
    }

    .button {
    	width: auto;
    	display: inline !important;
    }

    /* Profile header */
    h1.profile {
    	text-align: left;
    	position: absolute;
    	bottom: 0;
    }

    /* absolute and relative positioning is to "bottom out" the header*/
    div.profileHeader {
    	position: relative;
    }

    div.row.attribute div.column:first-child {
    	text-align: right
    }

    div.row.attribute div.column:last-child {
    	text-align: left
    }

    .ui.action.input {
		width: 90%;
	}

	.ui.action.input input {
		width: 30rem;
	}

	/* Hide the phone menu */
	.phone, .dimmer { 
		visibility: hidden;
	}


	.prompt p:before {
		content: "Click ";
	}

	.prompt {
		margin: 0;
		padding: 0;
		width: 96%;
	}

	.topNav span {
		display: inline;
	}

	.dummy {
		width: 1px;
	}

	.pc {
		visibility: visible;
	}



}

/***************************\
|	LARGE SCREEN STYLES 	|
\***************************/

@media (min-width: 64rem) {
	html {
		/* Base font size, 120% browser default, font sizes should use EM or REM units */
		/*font-size: 120%;*/ 
	}
}

/***************************\
|	CLEARFIXIN' FOR ROWS 	|
\***************************/

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {clear: both;}

.row { padding: 0.5rem 0; }

/***********\
|	FONTS 	|
\***********/

@font-face {
	font-family: 'GillSansMTPro-Light';
	src: url('../fonts/gillsansmtpro-light-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/gillsansmtpro-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/gillsansmtpro-light-webfont.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/gillsansmtpro-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fonts/gillsansmtpro-light-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'SourceSansPro-Light';
	src: url('../fonts/SourceSansPro-Light.otf');
}